<% content_for :page_title, "Manage GovWifi in your organisation support" %>
<% content_for :meta_description, "Contact us for technical help and support with managing an existing GovWifi installation in your organisation" %>

<%= govuk_back_link(href: new_help_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @support_form, url: { action: "create" } do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l">Manage GovWifi in your organisation support</h1>
      <%= govuk_inset_text do %>
        If you are experiencing difficulty setting up GovWifi in your organisation for the first time, please use our
        <%= govuk_link_to 'set up GovWifi support form.', technical_support_new_help_path %> contact form.
      <% end %>
      <%= f.govuk_text_field :name, label: { text: "Your name" } %>
      <%= f.govuk_text_field :email, label: { text: "Your email address" } %>
      <%= f.govuk_text_field :organisation, label: { text: "Name of the organisation affected" } %>
      <%= f.govuk_text_area :details,
                            label: { text: "Tell us a bit more about your issue managing GovWifi in your organisation." },
                            rows: 10 %>
      <%= f.hidden_field :choice %>
      <%= govuk_inset_text do %>
        Support tickets are checked daily. You will receive a reply within one working day.
      <% end %>
      <%= f.govuk_submit 'Submit' %>
    <% end %>
  </div>
</div>
