<% content_for :page_title, "Support" %>

<%= form_with model: @support_form, url: { action: "create" } do |f| %>
  <%= f.govuk_error_summary %>
  <h1 class="govuk-heading-l">Support</h1>
  <h2 class="govuk-heading-m">Individual problems</h2>
  <p class="govuk-body">
    If an individual user is having trouble connecting to GovWifi:
  </p>
  <%= govuk_list individual_troubleshoot_list(current_organisation), type: :bullet %>

  <h2 class="govuk-heading-m">Organisation problems</h2>
  <p class="govuk-body">
    If your entire organisation is having trouble connecting to GovWifi:
  </p>
  <%= govuk_list organisation_troubleshoot_list(current_organisation), type: :bullet %>

  <h2 class="govuk-heading-m">Request support</h2>
  <p class="govuk-body">
    If you can’t resolve your issue, send us a support request.
  </p>

  <%= f.govuk_text_area :details,
                        label: { text: "Tell us about your issue" },
                        rows: 10 %>
  <%= f.hidden_field :choice %>
  <%= govuk_inset_text text:  "Support tickets are checked daily. You will receive a reply within one working day." %>
  <%= f.govuk_submit "Send support request" %>
<% end %>
