<% content_for :page_title, "Set up GovWifi in your organisation support" %>
<% content_for :meta_description, "Contact us for technical help and support setting up GovWifi in your organisation" %>

<%= govuk_back_link(href: new_help_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @support_form, url: { action: "create" } do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l">Set up GovWifi in your organisation support</h1>
      <p class="govuk-body">Contact us for technical help and support setting up GovWifi in your organisation for the first time.</p>
      <%= govuk_inset_text do %>
        If you are experiencing difficulty managing an existing GovWifi installation in your organisation, please use our
        <%= govuk_link_to "managing GovWifi support form", admin_account_new_help_path %> contact form.
      <% end %>
      <%= f.govuk_text_field :name, label: { text: "Your name" } %>
      <%= f.govuk_text_field :email, label: { text: "Your email address" } %>
      <%= f.govuk_text_field :organisation, label: { text: "Name of the organisation affected" } %>
      <%= f.govuk_text_area :details,
                            label: { text: "Tell us a bit more about your issue setting up GovWifi in your organisation" },
                            rows: 10 %>
      <%= f.hidden_field :choice %>
      <%= govuk_inset_text text: "Support tickets are checked daily. You will receive a reply within one working day." %>
      <%= f.govuk_submit "Submit" %>
    <% end %>
  </div>
</div>
