<% content_for :page_title, "Results - logs search" %>

<p class="govuk-!-margin-bottom-6">
  <a href="<%= new_logs_search_path %>" class="govuk-back-link">Change search</a>
</p>

<% if logs.present? %>
  <h1 class="govuk-heading-l">
    Found <%= pluralize(logs.count, "result") %> for
    <% if log_search_form.username %>
      username:
    <% elsif log_search_form.ip %>
      IP:
    <% else %>
      location:
    <% end %>
    "<%= log_search_form.username || log_search_form.ip || location_address %>"
  </h1>

  <p class="govuk-body govuk-!-font-size-24">
    <% if log_search_form.ip %>
      IP address <%= log_search_form.ip %> is located at <%= @current_location.full_address %>
    <% end %>
  </p>

  <%= render "logs/filtered_results_explanation", logs: %>

  <%= render "logs/filter_logs_select", log_search_form: %>

  <%= govuk_table(head: table_data[:head], rows: table_data[:rows]) %>

<% else %>
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l govuk-grid-column-three-quarters">
      <% if !super_admin? && log_search_form.filter_option==LogSearchForm::IP_FILTER_OPTION && !current_organisation.ip_addresses.include?(log_search_form.ip) %>
        This is not an IP address associated with your organisation
      <% elsif log_search_form.success == 'false' %>
        There are no failed authentication results within the last 2 weeks
      <% elsif log_search_form.filter_option==LogSearchForm::USERNAME_FILTER_OPTION %>
        We have no record of username "<%= log_search_form.username %>" <strong> reaching the GovWifi service from your organisation in the last 2 weeks</strong>
      <% elsif log_search_form.filter_option==LogSearchForm::LOCATION_FILTER_OPTION %>
        Traffic from <%= location_address %> <strong>is not reaching the GovWifi service</strong>
      <% elsif log_search_form.filter_option==LogSearchForm::IP_FILTER_OPTION %>
        We have no record of authentication requests from IP address <%= log_search_form.ip %> <strong>in the last 2 weeks</strong>
      <% end %>
    </h1>

    <%= render "logs/filtered_results_explanation", logs: %>

    <%= render "logs/no_logs_explanation" %>
  </div>
<% end %>
