<% content_for :page_title, "Create your account" %>

<%= form_with model: @form,
              url: users_invitation_path(@form.user),
              method: :put do |f| %>
  <%= f.govuk_error_summary %>
  <%= f.hidden_field :invitation_token, readonly: true %>
  <% if @form.user.confirmed? %>
    <h1 class="govuk-heading-l">Join <%= @form.organisation_name %></h1>
    <%= f.govuk_submit "Update" %>
  <% else %>
    <h1 class="govuk-heading-l">Create your account and join <%= @form.organisation_name %></h1>
    <%= f.govuk_text_field :name, label: { text: "Your name" } %>
    <%= f.govuk_password_field :password,
                               label: { text: "Password" },
                               hint: { text: "Must be at least 6 characters long" } %>
    <%= f.govuk_submit "Create" %>
  <% end %>
<% end %>
