<% content_for :page_title, "Invite a team member" %>

<%= form_with model: resource,
              as: resource_name,
              url: invitation_path(resource_name)  do |f| %>

  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-left-0">
      <h1 class="govuk-heading-l">
        Invite a team member
        <% if super_admin? %>
          to <%= current_organisation.name %>
        <% end %>
      </h1>

      <%= f.govuk_email_field :email, label: { text: "Email address" }, hint: { text: "Enter the email address of the person you want to invite." } %>
      <%= f.govuk_collection_radio_buttons(:permission_level, permissions_radio_data, :value, :text, :hint, legend: { size: "m", text: "Permission level" }) %>
      <%= f.govuk_submit "Send invitation email" %>

      <p class="govuk-body">
        <%= link_to "Cancel", memberships_path, class: "govuk-link--no-visited-state" %>
      </p>
    </div>
  </div>
<% end %>
