<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">
  <head>
    <!-- test post please ignore -->

    <title><%= infer_page_title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c">
    <meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : SITE_CONFIG["default_meta_description"] %>">

    <%= favicon_link_tag asset_path("favicon.ico") %>
    <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>

    <%= javascript_include_tag "html5shiv" %>

    <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">
  </head>

  <body class="govuk-template__body app-body-class">
    <script>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%= render "shared/header" %>

    <div class="govuk-width-container">
      <% if show_navigation_bars %>
        <%= render "shared/mou_notification" %>
        <%= render "shared/subnav/#{subnav}" %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <%= render "shared/sidebar/#{sidebar}" %>
          </div>
          <div class="govuk-grid-column-three-quarters">
            <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
              <%= render "layouts/flash_notices" %>
              <%= yield %>
            </main>
          </div>
        </div>
      <% else %>
        <main class="govuk-main-wrapper" id="main-content" role="main">
          <%= render "layouts/flash_notices" %>
          <%= yield %>
        </main>
      <% end %>
    </div>

    <%= govuk_footer do |footer|
      footer.with_meta_html do %>
      <ul class="govuk-footer__inline-list">
        <li class="govuk-footer__inline-list-item">
          Built by the <%= govuk_footer_link_to "Government Digital Service", "https://www.gov.uk/government/organisations/government-digital-service" %>
        </li>
        <li class="govuk-footer__inline-list-item">
          <%= govuk_footer_link_to "Privacy notice", "https://www.wifi.service.gov.uk/privacy-notice/" %>
        </li>
        <li class="govuk-footer__inline-list-item">
          <%= govuk_footer_link_to "Cookies", "https://www.wifi.service.gov.uk/cookies/" %>
        </li>
        <li class="govuk-footer__inline-list-item">
          <%= govuk_footer_link_to "Accessibility statement", "https://www.wifi.service.gov.uk/accessibility-statement" %>
        </li>
      </ul>
    <% end %>
      <%= footer.with_navigation do %>
      <div class="govuk-footer__section govuk-grid-column-one-third">
        <h2 class="govuk-footer__heading govuk-heading-m">About</h2>
        <ul class="govuk-footer__list govuk-footer__list--columns-1">
          <li class="govuk-footer__list-item">
            <%= govuk_footer_link_to "Our service", "https://docs.wifi.service.gov.uk/index.html" %>
          </li>
          <li class="govuk-footer__list-item">
            <%= govuk_footer_link_to "Terms and conditions", "https://www.wifi.service.gov.uk/terms-and-conditions/" %>
          </li>
          <li class="govuk-footer__list-item">
            <%= govuk_footer_link_to "Performance", "https://www.data.gov.uk/search?q=GovWifi" %>
          </li>
        </ul>
      </div>
      <div class="govuk-footer__section govuk-grid-column-one-third">
        <h2 class="govuk-footer__heading govuk-heading-m">Connect</h2>
        <ul class="govuk-footer__list govuk-footer__list--columns-1">
          <li class="govuk-footer__list-item">
            <%= govuk_footer_link_to "Connect to GovWifi", "https://www.wifi.service.gov.uk/connect-to-govwifi/" %>
          </li>
          <li class="govuk-footer__list-item">
            <%= govuk_footer_link_to "Organisations using GovWifi", "https://www.wifi.service.gov.uk/organisations-using-govwifi/" %>
          </li>
          <li class="govuk-footer__list-item">
            <%= govuk_footer_link_to "Support", "https://docs.wifi.service.gov.uk/troubleshooting.html" %>
          </li>
        </ul>
      </div>
      <div class="govuk-footer__section govuk-grid-column-one-third">
        <h2 class="govuk-footer__heading govuk-heading-m">Admin</h2>
        <ul class="govuk-footer__list govuk-footer__list--columns-1">
          <li class="govuk-footer__list-item">
            <%= govuk_footer_link_to "Offer GovWifi in your organisation", "https://docs.wifi.service.gov.uk/" %>
          </li>
          <li class="govuk-footer__list-item">
            <%= govuk_footer_link_to "Network Administrator login", new_user_session_path %>
          </li>
          <li class="govuk-footer__list-item">
            <%= govuk_footer_link_to "Technical Documentation", "https://docs.wifi.service.gov.uk/manage.html#manage-govwifi" %>
          </li>
        </ul>
      </div>
    <% end
     end %>
    <script type="module"> <%# erb_lint:disable AllowedScriptType %>
      import { initAll } from '<%= asset_path("govuk-frontend.min.js") %>'
      initAll()
    </script>
  </body>
  <%= console if Rails.env.development? %>
</html>
